* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #eb184d;
}

#container {
    height: auto;
    width: 450px;
    background: #fff;
    padding: 20px 20px 70px 20px;
}

#container h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    padding: 30px 0;
    color: #2c2727;
}

#alert {
    height: auto;
    padding: 20px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background: #eb184d60;
}

input,
textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    background: #00000010;
    color: #2e2727;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 20px;
}

textarea {
    height: 200px;
    padding: 20px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #2c2727;
}

input[type="submit"] {
    background: #eb184d;
    color: #fff;
    cursor: pointer;
}