/*alle classes/ID's met LM achter is de light mode versie*/

* {
    overflow-x: hidden;
}

.nav-link:hover{
    color: red;
}

h2{
	color: snow;
}
p{
	color: snow;
}

.nav{
	margin-top: 50px;
}
.navbar{
	background-color: #1b253b;
}
.navLM{
    background-color: #ffffff;
}
.subpagina{
    color: #ffffff;
}
.subpaginaLM{
    color: #000000;
}

.jumbotron{
    background-image: url("../foto/Audi.jpg");
    background-size: cover;   
    background-position: center;
    height: 488px;
}
.jumbotronLM{
    background-image: url("../foto/EtronGTLight.jpg");
    background-size: cover; 
    background-position: center;
    height: 488px;
}

body{
	background-color: #e6213c;
	font-family: sans-serif;	  
}

.lichaam{
	background-color: #1b253b;
    font-family: sans-serif;
}
.lichaamLM{
    background-color: #e2e2e2;
    font-family: sans-serif;
}

.titel{
	text-align: center;
	color: #919191;
}

.intro{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
}
.introLM{
    color: #000000;
}

.kontainer{
	background-color:  #374050;
	width: 700px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.kontainerLM{
    background-color: #ffffff;
    color: #000000;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

h1
{
	margin: 0;
}

h2{
	text-align: center;
}

hr { 
    border: none; 
    background: #66CCFF; 
    margin-top: 50px;
    margin-bottom: 50px; 
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #66CCFF;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

.pijl{
    border-right: 0.5rem solid #343a40;
}

.pijlLM{
    border-right: 0.5rem solid #ffffff;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #66CCFF;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(143, 143, 143);
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body {
    background: #37474f;
    background: -webkit-linear-gradient(to right, #374050, #2d3d58);
    background: linear-gradient(to #162d55, #37474f, #112568);
    min-height: 100vh;
}

.text-gray {
    color: rgb(0, 0, 0);
}

/*blok van timeline*/
.blok{
    background-color: #374050;
}
.blokLM{
    background-color: #ffffff;
}

/*tekst in blok*/
.tblok{
    color: #d1d1d1;
}
.tblokLM{
    color: #000000;
}

/* Footer */

.footer-basic {
    padding:40px 0;
    background-color: transparent;
    color:#8b8b8b;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    overflow: hidden;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 70px;
}

.footer-left p{
    padding-right: 20%;
    color: #999;
}

.socialize a{
    background: rgba(0, 0, 0, 0.466);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 7px;
}

.socialize a i{
    color: #ffffff;
    padding: 10px 10px;
    font-size: 30px;
}

.disabled{
    pointer-events: none;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 3;
    }

    .footer-left{
        flex: 1 0px;
    }

    .footer-right{
        flex: 3 1px;
    }
}