/*alle classes/ID's met LM achter is de light mode versie*/
.nav-link:hover{
    color: red;
}

.nav{
	margin-top: 50px;
}
.navbar{
	background-color: #090b0f;
}
.navLM{
    background-color: #ffffff;
}
.subpagina{
    color: #ffffff;
}
.subpaginaLM{
    color: #000000;
}
.navbar-toggler-icon{
    color: crimson;
}

.jumbotron{
    background-image: url("../foto/polestar2.webp");
    background-size: cover;
    background-position-y: center;
}
.jumbotronLM{
    background-image: url("../foto/polestar_wit.jpg");
    background-size: cover;
    background-position-y: center;
}

body
{
	background-color: #37474F #2e4053;
	font-family: 'Times New Roman', serif;
}
.lichaam{
	background-color: #0F2027;
	font-family: 'Times New Roman', serif;
}
.lichaamLM{
    background-color: #e2e2e2;
}

table, th, td{
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
}
.table.table-responsive thead th {
    border: 2px solid rgb(255, 255, 255);
}


.sterk{
    color:#09ff00;
}
.sterkLM{
    color:#0ad403;
}

.msterk{
    color:#ff5e00;
}
.msterkLM{
    color:#e25300;
}

.vaardigheden{
    color:#00c3ff;
}
.vaardighedenLM{
    color:#00abdf;
}

.mkennis{
    color:#8c00ff;
}
.mkennisLM{
    color:#6f00ca;
}



.sterkT{
    color:#09ff00;
    font-size: large;
}
.sterkTLM{
    color:#0ad403;
    font-size: large;
}

.msterkT{
    color:#ff5e00;
    font-size: large;
}
.msterkTLM{
    color:#e25300;
    font-size: large;
}

.vaardighedenT{
    color:#00c3ff;
    font-size: large;
}
.vaardighedenTLM{
    color:#00abdf;
    font-size: large;
}

.mkennisT{
    color:#8c00ff;
    font-size: large;
}
.mkennisTLM{
    color:#6f00ca;
    font-size: large;
}


hr { 
    border: none; 
    background: #66CCFF; 
    margin-top: 50px;
    margin-bottom: 50px; 
} 

.kopie a{
    color: #66CCFF;
}
.kopie{
    color: #66CCFF;
    text-align: center;
}