body
{
	background-color: #37474F #2e4053;
	font-family: 'Times New Roman', serif;
}



.jumbotron{
    margin-top: 20px;
    background-image: url("../foto/togg.jpg");
    background-size: cover;
    background-position-y: center;
}

.huis{
    color: #66CCFF;   
}
