body
{
	background-color: #37474F #2e4053;
	font-family: 'Times New Roman', serif;
}



.jumbotron{
    margin-top: 20px;
    background-image: url("../foto/togg.jpg");
    background-size: cover;
    background-position-y: center;
}

.huis{
    color: #66CCFF;   
}

p{
    color: #ffff;
}

hr { 
    border: none; 
    background: #66CCFF; 
    margin-top: 50px;
    margin-bottom: 50px; 
} 

.kopie a{
    color: #66CCFF;
}
.kopie{
    color: #66CCFF;
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }